{% layout 'layout.liquid' %}
{% block content %}
  <div class="mtg-inflx-container mtg-display-width">
    {% # 'left' side of screen %}
    {% # DETAILS on top %}
    <div class="mtg-display-left">
        <h2>{{ deck.name }}</h2>
        <p>{{ deck.description }}</p>
      <div class="mtg-cards-list">
        {% for card in deck.cards %}
          <div class="mtg-cards-list__card">
            <div class="mtg-cards-list__card__box">
              <span>{{ card.name }}</span>
              <span class="mtg-sans">x{{ card.count }}</span>
            </div>
            <div class="mtg-cards-list__card__box">
              <form action="/cards/{{ deck.id }}/{{ card.id }}?_method=PUT" method="POST">
                <button type="submit" name="adjustor" value="remove" class="mtg-btn-tp">
                  <span class="material-symbols-outlined" style="color: var(--gray-20)">remove</span>
                </button>
              </form>
              <form action="/cards/{{ deck.id }}/{{ card.id }}?_method=PUT" method="POST">
                <button type="submit" name="adjustor" value="add" class="mtg-btn-tp">
                  <span class="material-symbols-outlined" style="color: var(--gray-20)">add</span>
                </button>
              </form>
              <form action="/cards/delete/{{ deck.id }}/{{ card.id }}?_method=DELETE" method="POST">
                <button type="submit" class="mtg-btn-tp">
                  <span class="material-symbols-outlined" style="color: var(--secondary)">delete</span>
                </button>
              </form>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="mtg-display-right">
      <div class="mtg-select">
        <form action="/{{deck.id}}" method="GET">
          <label class="form-label">Filter Options:</label>
          <div class="btn-container-inline">
            <select
              name="filterSelect"
              class="form-select"
              required>
              <option value="noFilter" selected>-- No Filter --</option>
              <option value="R">Color: Red</option>
              <option value="U">Color: Blue</option>
              <option value="G">Color: Green</option>
              <option value="W">Color: White</option>
              <option value="B">Color: Black</option>
              <option value="lands">Lands</option>
              <option value="artifacts">Artifacts</option>
            </select>
            <button type="submit" class="mtg-btn-sm-p" style="flex-shrink: 0">Apply Filter</button>
          </div>
        </form>
      </div>
      <div class="mtg-cards-grid mtg-mt-2">
      {% if collection.cards.length > 0 %}
        {% for card in collection.cards %}
          <div class="mtg-card-container">
            <img src="{{ card.image }}" width="175"></img>
            <form action="/cards/{{ deck.id }}" method="POST">
              <input hidden name="name" value="{{ card.name }}">
              <input hidden name="mtgId" value="{{ card.id }}">
              <input hidden name="image" value="{{ card.image }}">
              <input hidden name="count" value="1">
              <button type="submit" class="mtg-btn-tp">
                <span class="material-symbols-outlined" style="color: var(--primary-dk); font-size: 48px">library_add</span>
              </button>
            </form>
          </div>
        {% endfor %}
      {% else %}
      {% endif %}
      </div>
    </div>
  </div>
{% endblock %}