{% layout 'layout.liquid' %}
{% block content %}

  <div class="mtg-std-container mtg-display-width">
    <h2 class="mtg-page-title">Deck Dashboard</h2>
    <div class="mtg-dashboard-grid-container">
      <div class="mtg-dashboard-grid">
        <div class="mtg-dashboard-card">
          <h3 class="mtg-dashboard-card__title mtg-mt-2">Create New Deck</h3>
          <div class="mtg-dashboard-card__main">
            <div class="mtg-icon-container-inline">
              <a href="/decks/new">
                <button type="submit" class="mtg-btn-tp">
                  <span class="material-symbols-outlined" style="color: var(--primary-dk); font-size: 72px">add_circle</span>
                </button>
              </a>
            </div>
          </div>
        </div>
        {% for deck in decks %}
          <div class="mtg-dashboard-card">
            <h3 class="mtg-dashboard-card__title">{{ deck.name }}</h3>
            <div class="mtg-dashboard-card__main">
              <div class="mtg-dashboard-card__counts">
                <h5>
                  {{ deck.totalCount }} cards</h5>
                <h5>{{ deck.comments.length }} comments</h5>
              </div>
              <h6>owned by: {{ deck.owner.username }}</h6>
              <p>
                {{ deck.description }}
              </p>
            </div>
            <div class="mtg-icon-container-inline">
              {% if deck.owner == userId %}
                <a href="/decks/{{ deck.id }}/edit-info">
                  <button type="submit" class="mtg-btn-tp">
                    <span class="material-symbols-outlined" style="color: var(--tertiary-dk); font-size: 36px">edit</span>
                  </button>
                </a>
                <a href="/decks/{{ deck.id }}/edit">
                  <button type="submit" class="mtg-btn-tp">
                    <span class="material-symbols-outlined" style="color: var(--tertiary-dk); font-size: 36px">tune</span>
                  </button>
                </a>
                <form action="/decks/{{ deck.id }}?_method=DELETE" method="POST">
                  <button type="submit" class="mtg-btn-tp">
                    <span class="material-symbols-outlined" style="color: var(--secondary-dk); font-size: 36px">delete</span>
                  </button>
                </form>
              {% else %}
                <form action="/decks/{{ deck.id }}" method="GET">
                  <button type="submit" class="mtg-btn-tp">
                    <span class="material-symbols-outlined mtg-icon-md" style="color: var(--primary-dk); font-size: 36px">visibility</span>
                  </button>
                </form>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}