{% layout 'layout.liquid' %}
{% block content %}
  <div class="mtg-std-container mtg-display-width">
    <a class="mtg-btn-p" href="/decks/new">Create New Deck</a>
    {% if decks.length > 0 %}
      <div class="mtg-grid-container">
        <h2>All Decks</h2>
        <div class="mtg-deck-grid">
          {% for deck in decks %}
            <div class="mtg-deck-card">
              <h3 class="card-header">{{ deck.name }}</h5>
              <div class="card-body">
                <h5>{{ deck.cards.length }} cards</h5>
                <h6>owned by: {{ username }}</h6>
                <p class="card-text">
                  {{ deck.description }}
                </p>
                <div class="btn-container-inline">
                  {% if loggedIn %}
                    <a href="/decks/{{ deck.id }}/edit" class="mtg-btn-t">
                      Edit
                    </a>
                    <form action="/decks/{{ deck.id }}?_method=DELETE" method="POST">
                      <input
                        type="submit"
                        class="mtg-btn-s"
                        value="DELETE">
                    </form>
                  {% else %}
                    <a href="/deck/{{ deck.id }}" class="mtg-btn-t">
                      View
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <div class="container-md">
        <h2>Wouldn't ya know...no decks to show!</h2>
      </div>
    {% endif %}
  </div>
{% endblock %}