{% layout 'layout.liquid' %}
{% block content %}
  <div class="mtg-std-container mtg-display-width">
    {% # TITLE and DESCRIPTION %}
    <div class="mtg-text-width mtg-text-center">
      <h2 class="mtg-elem">{{ deck.name }}</h2>
      <p class="mtg-elem">{{ deck.description }}</p>
    </div>
    {% # CARDS GRID %}
    <div class="mtg-cards-grid mtg-display-width mtg-mt-2">
      {% for card in deck.cards %}
        <div class="mtg-deck-card">
          <img src={{ card.image }} width="175">
          <h3 class="mtg-sans">x{{ card.count }}</h3>
        </div>
      {% endfor %}
    </div>
    {% # COMMENTS %}
    <div class="mtg-mt-2 mtg-std-container mtg-text-width">
      <p class="mtg-elem">{{ deck.comments.length }} comments</p>
      {% if deck.comments.length > 0 %}
        {% for comm in deck.comments %}
          {% render '../comment.liquid', comm: comm, userId: userId, deck: deck %}
        {% endfor %}
      {% endif %}
    </div>
    {% if loggedIn %}
      <div>
        <form
          action="/comments/{{ deck.id }}"
          method="POST"
          class="mtg-form">
          <legend>Add Comment ---
          </legend>
          <div class="mtg-comm-form-inputs">
            <div class="mtg-elem">
              <input
                id="comm-heading"
                type="text"
                name="heading"
                class="form-control"
                placeholder="input heading here">
            </div>
            <textarea
              id="comm-comment"
              class="form-control"
              name="note"
              rows="12"
              cols="65"
              maxlength="330"
              placeholder="input comment here"></textarea>
          </div>
          <button type="submit" class="mtg-btn-p">
            <span class="material-symbols-outlined" style="color: var(--gray-80)">done</span>
            <span>Submit Comment</span>
          </button>
        </form>
      </div>
    {% else %}
      <div>
        <p>Please sign in to leave a comment.</p>
      </div>
    {% endif %}
  </div>
{% endblock %}